APP_NAME=novaflow
APP_ENV=development

HTTP_PORT=8080
HTTP_SHUTDOWN_TIMEOUT=15s

LOG_LEVEL=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_USER=novaflow
POSTGRES_PASSWORD=novaflow
POSTGRES_DB=novaflow
POSTGRES_SSLMODE=disable
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2
POSTGRES_CONN_MAX_LIFETIME=1h

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

MIGRATIONS_DIR=deployments/migrations

JWT_SECRET=change-me-to-a-random-32-plus-character-secret
JWT_ISSUER=novaflow
JWT_AUDIENCE=novaflow-api
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=720h

ARGON2_MEMORY=65536
ARGON2_TIME=3
ARGON2_PARALLELISM=2
ARGON2_SALT_LENGTH=16
ARGON2_KEY_LENGTH=32
